html{
    overflow-y: hidden;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:white;
}

ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}
img#menu{
    width: 40px;
}

input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(0,0,0,.90);
    width:300px;
    height: 100%;
    left: -300px;
    position: absolute;
    z-index: 1;
}
input[type="checkbox"]:checked ~ nav{
transform: translateX(300px);
}
a{
    display: block;
    padding: 20px 5px;
    color: white;
}
a:hover{
    background-color: rgb(147, 206, 214);
    color: black;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 2;
}

.menu_ul li a{
    color: white;
}

a.items{
    color: white;
    background-color:rgba(5,5,5,.8);
}
a.items_v{
    color: white;
    background-color:rgba(5,5,5,.8);
}
div.conteiner_items{
    width: auto;
    height: auto;
    overflow: auto;
    max-height: 150px;
}
.conteiner_items a:hover{
    color:grey;
}